<div class="text-layout">
    <h1>Pipes no comunes</h1>
    <p>
        Pipes incluidos en Angular - Usulmente en Common Module.
    </p>
</div>

<div class="grid">

    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{nombre}}, es un placer 
                {{ genero | i18nSelect:invitacionMapa }} 
                a nuestro evento.
            </p>

            <button pButton type="button" label="Cambiar persona" (click)="cambiarCliente()"
                class="p-button-outlined" icon="pi pi-sort-alt" iconPos="right"></button>
        
            </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural" [toggleable]="true">
            <p>
                Actualmente tenemos {{ clientes.length | i18nPlural:clientesMapa }}
            </p>

            <button pButton type="button" label="Borrar cliente" (click)="borrarCliente()"
                class="p-button-outlined" icon="pi pi-delete-left" iconPos="right"></button>

        </p-fieldset>
    </div>

</div>